<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <br /> <br /> <br /> <br />
   <p>
    <button type="button" class="btn btn-lg btn-default" ng-click="startFirehose()" ng-show="!streaming">
      Start Firehose
    </button>
    <button type="button" class="btn btn-lg btn-default" ng-click="stopFirehose()" ng-show="streaming">
      Stop Firehose
    </button>
    <button type="button" class="btn btn-lg btn-default" ng-click="resetTopics()">
      Reset Firehose Tracking Keywords
    </button>

  </p>


<!--  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
   <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul> -->
 <script>

  $(function () {
  	dat.GUI.toggleHide();
  });
  </script>

</div>
