.tweet-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.panel {
  float: left;
  width: 35%;
  height: 630px;
  /*background-color: #cccccc;*/
}

.term {
  height: 100px;
}

.dashboard {
  float: right;
}

.ocOff{
  float: right;
  width: 65%;
  height: 630px;
}

.display{
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
}

/*button {
  float:left;
  text-align:center;
  clear: left;
}*/

table {
  position: relative;
  float: left;
  padding-right: 0px;
  margin-right: 0px;
  clear: left;
}

hr {
  clear: both;
}

#gui {
  position:absolute;
  top: 75px;
  right: 0px;
}

#popular-tweets {
  height: 450px;
  overflow: scroll;
}
