<div class="navbar" ng-include="'components/navbar/navbar.html'"></div>

<div class="panel">
  <div class="term">
<!--     <label>Enter topic:&nbsp;</label>
    <input type="text" class="topic" ng-model="topic">

   <p>
    <button type="button" class="btn btn-lg btn-default" ng-click="chooseTopic(topic, true)" ng-show="!streaming">
      Start Gathering Topic: {{topic}}
    </button>
    <button type="button" class="btn btn-lg btn-default" ng-click="stopTopic(topic, true)" ng-show="streaming">
      Stop Gathering
    </button>
  </p>
  <p>
    <button type="button" class="get-topic btn btn-lg btn-default" ng-click="getTweetsWithTopic(topic)">
      Show {{topic}}
    </button>
    <button type="button" class="destroy-topic btn btn-lg btn-default btn-danger" ng-click="destroyTopic(topic)">
      Destroy {{topic}}
    </button></p>
 --> 
    <p>
      <button type="button" class="fullscreen-oculus-on btn btn-lg btn-default">
        Oculus
      </button>
      <button type="button" class="btn btn-lg btn-default" ng-click="startLayout()">
        Start Layout
      </button>
      <button type="button" class="btn btn-lg btn-default" ng-click="restart()">
        Restart
      </button>
    </p>
    <div class="row">
      <!-- topics -->
      <div class="col-md-8 pull-left">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Include</th>
              <th>Topic</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start='topic in topics'>
              <td><input type="checkbox" ng-model="topic.include" /></td>
              <td>{{topic.topic}}</td>
              <td>{{topic.count}}</td>
            </tr>
            <tr ng-repeat-end></tr>
          </tbody>
        </table>
      </div>
      <!-- done topics -->
      <!-- Popular tweets -->
      <div class="col-md-12 pull-left" id='popular-tweets'>
        <h4>Popular tweets</h4>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>By</th>
              <th>Cnt</th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="tweet in tweetsInContext |
               filter: filterFunction |
               orderBy:'-count':reverse">
              <td>{{tweet.created_by}}</td>
              <td>{{tweet.count}}</td>
              <td>{{tweet.text}}</td>
            </tr>
            <tr ng-repeat-end></tr>
          </tbody>
        </table>
      </div>
      <!-- Done most popular tweets -->
      <!-- Instructions 
      <div class="col-md-8 pull-left" id="key">
        <table class="table table-bordered table-striped table-condensed">
          <h4>Movement Key</h4>
          <thead>
            <tr>
              <th>Action</th>
              <th>Mouse / Keyboard</th>
              <th>Leap</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Zoom-in</td>
              <td>Scroll-up</td>
              <td>Hand towards Leap</td>
            </tr>
            <tr>
              <td>Zoom-out</td>
              <td>Scroll-down</td>
              <td>Hand away from Leap</td>
            </tr>
            <tr>
              <td>Rotate</td>
              <td>Click and Drag</td>
              <td>Hold hand Left or Right for East-West, forward or back for North-South</td>
            </tr>
            <tr>
              <td>SPIN</td>
              <td></td>
              <td>Swipe Hand</td>
            </tr>
            <tr>
              <td>Start Geyser</td>
              <td>Press Enter</td>
              <td></td>
            </tr>
            <tr>
              <td>Re-center Globe (Oculus)</td>
              <td>Press Spacebar</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
       Done Instructions -->
    </div>
  </div>
  <div id="debug"></div>
</div>
<div class="display ocOff">
  <div id="webgl-container"></div>
  <script>
  var drawing = createDrawing();
  var userGraph;

  var nextFuncReady = true;
  var oculusIsOn = false;
  var isFullscreen = false;
  var oculusControl = true;
  var earth_radius = 200;

  var topic;

  $(function () {
    drawing.init();
    userGraph = twitterUserGraph({scene: drawing.scene()});

    var checkKeyPressed;
    // mouseenter and mouseleave adjust listeners to allow typing in input box while mouse is over
    $('.topic').mouseenter(function () {
      checkKeyPressed = window.onkeydown;
      window.onkeydown = undefined;
      orbitControls.enabled = false;
    });

    $('.topic').mouseleave(function () {
      window.onkeydown = checkKeyPressed;
      orbitControls.enabled = true;
    });

    //////// optional views and filters /////////

    $('.fullscreen-oculus-on').on('click', function () {
      oculusIsOn = true;
      drawing.toggleFullscreen();
    });

    window.addEventListener('resize', drawing.onWindowResize, false);
    window.addEventListener('keypress', function(e){

    });

  });
  
    ////////////////////////// Options Flags //////////////////////////

  // drawing.init();

  </script>
</div>

<footer class="footer">
  <div class="container">
      <p>Made at Hack Reactor in conjunction with Kinetech |
      <a href="https://github.com/HR-Data-Geyser/Data-Geyser/issues?state=open">Issues</a>
    </p>
  </div>
</footer>
